.feed-form {
	margin-top: 36px;
	display: flex;
	flex-direction: column;
	width: 300px;
	input {
		margin-top: 12px;
		border-radius: 5px;
		height: 54px;
		background-color: #fff;
		border: none;
		padding: 0 20px;
		color: #4B4B4B;
		font-size: 14px;
		font-weight: 400;
	}
	&_mt25 {
		margin-top: 25px;
	}
}